<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">
    <span translate="aside.nav.HEADER_DOWNLOADS">Downloads</span>
  </h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span translate="aside.nav.DOWNLOADS">{{downloadsList.length}} Downloads</span>
      <span class="pull-right btn btn-action glyphicon glyphicon-refresh" data-ng-click="refresh()"
            data-ng-class="{'glyphicon-refresh-animate': allDownloadRefresh}"></span>
    </div>
    <div class="row wrapper">
      <div class="col-sm-4 hidden-xs">
        <button class="btn btn-sm btn-default" data-ng-click="refreshSelectedDownloads()">{{'downloads.REFRESH' |
          translate}}
        </button>
        <div class="btn-group dropdown">
          <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
            {{'downloads.delete_dropdown.BUTTON' | translate}} <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href data-ng-click="deleteSelectedDownloads()">{{'downloads.delete_dropdown.SELECTED' |
              translate}}</a></li>
            <!--TODO: use constant-->
            <li><a href data-ng-click="deleteDownloads(3)">{{'downloads.delete_dropdown.FINISHED' | translate}}</a></li>
            <!--<li><a href>Something else here</a></li>
            <li class="divider"></li>
            <li><a href>Separated link</a></li>-->
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-sm btn-default" type="button">Go!</button>
              </span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <div id="grid1" ui-grid="gridOptions" ui-grid-selection ui-grid-grouping ui-grid-resize-columns ui-grid-edit
           class="grid"></div>
    </div>
    <div class="dropdown position-fixed" id="myMenu">
      <ul class="dropdown-menu" role="menu">
        <li>
          <a class="pointer" role="menuitem" tabindex="1"
             ng-click="panel.highlight = true">
            Menu 1
          </a>
        </li>
        <li>
          <a class="pointer" role="menuitem" tabindex="2"
             ng-click="panel.highlight = false">
            Menu 2
          </a>
        </li>
        <li>
          <a class="pointer" role="menuitem" tabindex="3"
             ng-click="panel.highlight = false">
            Menu 3
          </a>
        </li>
      </ul>
    </div>
    <!--<footer class="panel-footer">
      <div class="row">
        <div class="col-sm-4 hidden-xs">
          <button class="btn btn-sm btn-default" data-ng-click="refreshSelectedLinks()">Refresh</button>
          <button class="btn btn-sm btn-default" data-ng-click="deleteSelectedLinks()">Delete</button>
        </div>
        <div class="col-sm-4 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
        </div>
        <div class="col-sm-4 text-right text-center-xs">
          <ul class="pagination pagination-sm m-t-none m-b-none">
            <li><a href><i class="fa fa-chevron-left"></i></a></li>
            <li><a href>1</a></li>
            <li><a href>2</a></li>
            <li><a href>3</a></li>
            <li><a href>4</a></li>
            <li><a href>5</a></li>
            <li><a href><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>-->
  </div>
</div>


