<div class="modal-body wrapper-lg">
  <form role="form" class="form-horizontal">
    <div class="row">
      <tabset class="tab-container">
        <tab heading="{{'infosPlowdown.form.GENERAL' | translate}}">
          <!--id + status + priority-->
          <div class="form-group">
            <label class="col-lg-2 control-label">Id</label>

            <div class="col-lg-2">
              <input type="text" class="form-control" disabled="disabled" value="{{download.id}}">
            </div>

            <label class="col-lg-2 control-label">{{'infosPlowdown.form.STATUS' | translate}}</label>

            <div class="col-lg-2">
              <input class="form-control" type="text" disabled="disabled"
                     value="{{download.status | downloadStatusFltr2}}"></input>
            </div>

            <label class="col-lg-2 control-label">{{'infosPlowdown.form.PRIORITY' | translate}}</label>

            <div class="col-lg-2">
              <select name="priority" class="form-control m-b" ng-model="downloadPriority.selected"
                      ng-options="p.value | translate for p in downloadPriorities track by p.id">
              </select>
            </div>
          </div>
          <!--name-->
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.NAME' | translate}}</label>

            <div class="col-lg-10">
              <input class="form-control" type="text" disabled="disabled" value="{{download.name}}"></input>
            </div>
          </div>
          <!--link-->
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.LINK' | translate}}</label>

            <div class="col-lg-7">
              <input class="form-control" type="text" disabled="disabled" value="{{download.link}}"></input>
            </div>
          </div>
          <!--sizes-->
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.SIZE_FILE' | translate}}</label>

            <div class="col-lg-4">
              <input class="form-control" type="text" disabled="disabled"
                     value="{{download.sizeFileDownloaded | bytesFltr}} / {{download.sizeFile | bytesFltr}}"></input>
            </div>

            <label class="col-lg-2 control-label">{{'infosPlowdown.form.SIZE_PART' | translate}}</label>

            <div class="col-lg-4">
              <input class="form-control" type="text" disabled="disabled"
                     value="{{download.sizePartDownloaded | bytesFltr}} / {{download.sizePart | bytesFltr}}""></input>
            </div>
          </div>
          <!--progress-->
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.PROGRESS_FILE' | translate}}</label>

            <div class="col-lg-4">
              <progressbar class="progress-striped active m-t-sm" value="download.progressFile" type="success"><b>{{download.progressFile}}%</b>
              </progressbar>
            </div>

            <label class="col-lg-2 control-label">{{'infosPlowdown.form.PROGRESS_PART' | translate}}</label>

            <div class="col-lg-4">
              <progressbar class="progress-striped active m-t-sm" value="download.progressPart" type="success"><b>{{download.progressPart}}%</b>
              </progressbar>
            </div>
          </div>
        </tab>
        <tab heading="{{'infosPlowdown.form.OTHER' | translate}}">
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.FILE_PATH' |
              translate}}</label>

            <div class="col-lg-10">
              <input type="text" class="form-control" disabled="disabled"
                     value="{{download.filePath}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.PID_PYTHON' | translate}}</label>

            <div class="col-lg-2">
              <input class="form-control" type="text" disabled="disabled" value="{{download.pidPython}}"></input>
            </div>

            <label class="col-lg-2 control-label">{{'infosPlowdown.form.PID_PLOWDOWN' | translate}}</label>

            <div class="col-lg-2">
              <input class="form-control" type="text" disabled="disabled"
                     value="{{download.pidPlowdown}}"></input>
            </div>

            <label class="col-lg-2 control-label">{{'infosPlowdown.form.PID_CURL' | translate}}</label>

            <div class="col-lg-2">
              <input class="form-control" type="text" disabled="disabled"
                     value="{{download.pidCurl}}"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.TIME_SPENT' |
              translate}}</label>

            <div class="col-lg-2">
              <input type="text" class="form-control" disabled="disabled"
                     value="{{download.timeSpent}}">
            </div>
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.TIME_LEFT' |
              translate}}</label>

            <div class="col-lg-2">
              <input type="text" class="form-control" disabled="disabled"
                     value="{{download.timeLEFT}}">
            </div>
          </div>
        </tab>
        <tab heading="{{'infosPlowdown.form.LIFECYCLE' | translate}}">
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.LIFECYCLE_INSERT_DATE' |
              translate}}</label>

            <div class="col-lg-3">
              <input type="text" class="form-control" disabled="disabled"
                     value="{{download.lifecycle_insert_date | date: 'dd/MM/yyyy HH:mm:ss'}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.LIFECYCLE_UPDATE_DATE' |
              translate}}</label>

            <div class="col-lg-3">
              <input class="form-control" type="text" disabled="disabled"
                     value="{{download.lifecycle_update_date | date: 'dd/MM/yyyy HH:mm:ss'}}"></input>
            </div>
          </div>
        </tab>
      </tabset>
    </div>

    <div class="form-group">
      <label>Informations</label>
                <textarea class="form-control" rows="15" readonly wrap="off"
                          placeholder="{{'infosPlowdown.form.PLACE_HOLDER' | translate}}">{{download.infosPlowdown}}</textarea>
    </div>
    <button type="submit" class="btn btn-warning" data-ng-click="delete()">{{'infosPlowdown.form.DELETE' |
      translate}}
    </button>
  </form>
</div>
<footer class="panel-footer text-right bg-light lter">
  <button type="submit" class="btn btn-success" data-ng-click="ok()">Ok</button>
</footer>
