<div class="modal-body wrapper-lg">
  <form role="form" class="form-horizontal">
    <div class="row">
      <tabset class="tab-container">
        <tab heading="{{'infosPlowdown.form.GENERAL' | translate}}">
          <div class="form-group">
            <label class="col-lg-1 control-label">Id</label>

            <div class="col-lg-2">
              <input type="text" class="form-control" disabled="disabled" value="{{download.id}}">
            </div>

            <label class="col-lg-offset-6 col-lg-1 control-label">{{'infosPlowdown.form.PRIORITY' | translate}}</label>

            <div class="col-lg-2">
              <select name="priority" class="form-control m-b" ng-model="$parent.priority">
                <option ng-repeat="priority in downloadPriorities" value="{{priority.id}}">{{priority.value |
                  translate}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-1 control-label">{{'infosPlowdown.form.NAME' | translate}}</label>

            <div class="col-lg-11">
              <input class="form-control" type="text" disabled="disabled" value="{{download.name}}"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-1 control-label">{{'infosPlowdown.form.LINK' | translate}}</label>

            <div class="col-lg-5">
              <input class="form-control" type="text" disabled="disabled" value="{{download.link}}"></input>
            </div>

            <label class="col-lg-1 control-label">{{'infosPlowdown.form.SIZE' | translate}}</label>

            <div class="col-lg-2">
              <input class="form-control" type="text" disabled="disabled"
                     value="{{download.origin_size | bytesFltr}}"></input>
            </div>

            <label class="col-lg-1 control-label">{{'infosPlowdown.form.STATUS' | translate}}</label>

            <div class="col-lg-2">
              <input class="form-control" type="text" disabled="disabled"
                     value="{{download.status | downloadStatusFltr2}}"></input>
            </div>
          </div>
        </tab>
        <tab heading="{{'infosPlowdown.form.LIFECYCLE' | translate}}">
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.LIFECYCLE_INSERT_DATE' |
              translate}}</label>

            <div class="col-lg-3">
              <input type="text" class="form-control" disabled="disabled"
                     value="{{download.lifecycle_insert_date | date:'dd/MM/yyyy HH:mm:ss'}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.LIFECYCLE_UPDATE_DATE' |
              translate}}</label>

            <div class="col-lg-3">
              <input class="form-control" type="text" disabled="disabled"
                     value="{{download.lifecycle_update_date | date:'dd/MM/yyyy HH:mm:ss'}}"></input>
            </div>
          </div>
        </tab>
      </tabset>
    </div>

    <div class="form-group">
      <label>Informations</label>
                <textarea class="form-control" rows="15" disabled="disabled" wrap="off"
                          placeholder="{{'infosPlowdown.form.PLACE_HOLDER' | translate}}">{{download.infosPlowdown}}</textarea>
    </div>
    <button type="submit" class="btn btn-warning" data-ng-click="delete()">{{'infosPlowdown.form.DELETE' |
      translate}}
    </button>
  </form>
</div>
<footer class="panel-footer text-right bg-light lter">
  <button type="submit" class="btn btn-success" data-ng-click="ok()">Ok</button>
</footer>
