<form name="form-contact" class="form-validation ng-pristine ng-invalid ng-invalid-required">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="h4">Infos Plowdown</span>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label>Message</label>
        <textarea class="form-control" rows="15" disabled="disabled" wrap="off" placeholder="Type your message">{{infosPlowdown.infos}}</textarea>
      </div>
      <button type="submit" class="btn btn-warning" data-ng-click="delete()">{{'infosPlowdown.form.DELETE' | translate}}
      </button>
    </div>
    <footer class="panel-footer text-right bg-light lter">
      <button type="submit" class="btn btn-success" data-ng-click="ok()">Ok</button>
    </footer>
  </div>
</form>
