<div class="modal-body wrapper-lg">
  <form role="form" class="form-horizontal">
    <div class="row">
      <tabset class="tab-container">
        <tab heading="{{'infosPlowdown.form.GENERAL' | translate}}">
          <!--link + priority-->
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.LINK' | translate}}</label>

            <div class="col-lg-7">
              <input class="form-control" type="text" disabled="disabled" value="{{download.link}}"></input>
            </div>

            <label class="col-lg-1 control-label">{{'infosPlowdown.form.PRIORITY' | translate}}</label>

            <div class="col-lg-2">
              <select name="priority" class="form-control m-b disabled" ng-model="downloadPriority.selected"
                      ng-options="p.value | translate for p in downloadPriorities track by p.id" disabled="download.status > 2">
              </select>
            </div>
          </div>
          <!--name-->
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.NAME' | translate}}</label>

            <div class="col-lg-5">
              <div class="input-group">
                <input class="form-control" type="text" data-ng-model="edition.downloadDirectory"
                       data-ng-disabled="!pathEdition  || download.status == 4 || download.status == 7 || download.status == 9 || download.status == 10"
                       data-ng-blur="modifyPath()"></input>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" data-ng-click="pathEdition = !pathEdition">
                    <i class="fa fa-edit"></i>
                  </button>
                </span>
              </div>
            </div>

            <div class="col-lg-5">
              <input class="form-control" type="text" disabled="disabled" value="{{download.name}}"></input>
            </div>
          </div>
          <!--file size + % file-->
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.SIZE_FILE' | translate}}</label>

            <div class="col-lg-4">
              <input class="form-control" type="text" disabled="disabled"
                     value="{{download.size_file_downloaded | bytesFltr}} / {{download.size_file | bytesFltr}}"></input>
            </div>

            <label class="col-lg-2 control-label">{{'infosPlowdown.form.PROGRESS_FILE' | translate}}</label>

            <div class="col-lg-4">
              <progressbar class="progress-striped active m-t-sm" value="download.progress_file" type="success">
                <b>{{download.progress_file}}%</b>
              </progressbar>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.TIME_SPENT' |
              translate}}</label>

            <div class="col-lg-2">
              <input type="text" class="form-control" disabled="disabled"
                     value="{{download.time_spent | timeFltr}}"></input>
            </div>
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.TIME_LEFT' |
              translate}}</label>

            <div class="col-lg-2">
              <input type="text" class="form-control" disabled="disabled"
                     value="{{download.time_left | timeFltr}}"></input>
            </div>

            <label class="col-lg-2 control-label">{{'infosPlowdown.form.CURRENT_SPEED' |
              translate}}</label>

            <div class="col-lg-2">
              <input type="text" class="form-control" disabled="disabled"
                     value="{{download.current_speed | bytesPerSecondFltr}}"></input>
            </div>
          </div>
        </tab>
        <tab heading="{{'infosPlowdown.form.OTHER' | translate}}">
          <div class="form-group">
            <label class="col-lg-2 control-label">Id</label>

            <div class="col-lg-2">
              <input type="text" class="form-control" disabled="disabled" value="{{download.id}}"></input>
            </div>

            <label class="col-lg-2 control-label">{{'infosPlowdown.form.STATUS' | translate}}</label>

            <div class="col-lg-2">
              <input class="form-control" type="text" disabled="disabled"
                     value="{{download.status | downloadStatusFltr2}}"></input>
            </div>

            <label class="col-lg-2 control-label">{{'infosPlowdown.form.AVERAGE_SPEED' |
              translate}}</label>

            <div class="col-lg-2">
              <input type="text" class="form-control" disabled="disabled"
                     value="{{download.average_speed | bytesPerSecondFltr}}"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.FILE_PATH' |
              translate}}</label>

            <div class="col-lg-10">
              <input type="text" class="form-control" disabled="disabled"
                     value="{{download.file_path}}"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.SIZE_PART' | translate}}</label>

            <div class="col-lg-4">
              <input class="form-control" type="text" disabled="disabled"
                     value="{{download.size_part_downloaded | bytesFltr}} / {{download.size_part | bytesFltr}}"></input>
            </div>

            <label class="col-lg-2 control-label">{{'infosPlowdown.form.PROGRESS_PART' | translate}}</label>

            <div class="col-lg-4">
              <progressbar class="progress-striped active m-t-sm" value="download.progress_part" type="success"><b>{{download.progress_part}}%</b>
              </progressbar>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.PID_PYTHON' | translate}}</label>

            <div class="col-lg-2">
              <input class="form-control" type="text" disabled="disabled" value="{{download.pid_python}}"></input>
            </div>

            <label class="col-lg-2 control-label">{{'infosPlowdown.form.PID_PLOWDOWN' | translate}}</label>

            <div class="col-lg-2">
              <input class="form-control" type="text" disabled="disabled"
                     value="{{download.pid_plowdown}}"></input>
            </div>

            <label class="col-lg-2 control-label">{{'infosPlowdown.form.PID_CURL' | translate}}</label>

            <div class="col-lg-2">
              <input class="form-control" type="text" disabled="disabled"
                     value="{{download.pid_curl}}"></input>
            </div>
          </div>
        </tab>
        <tab heading="{{'infosPlowdown.form.LIFECYCLE' | translate}}">
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.LIFECYCLE_INSERT_DATE' |
              translate}}</label>

            <div class="col-lg-3">
              <input type="text" class="form-control" disabled="disabled"
                     value="{{download.lifecycle_insert_date | date: 'dd/MM/yyyy HH:mm:ss': '-0200'}}"></input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.LIFECYCLE_UPDATE_DATE' |
              translate}}</label>

            <div class="col-lg-3">
              <input class="form-control" type="text" disabled="disabled"
                     value="{{download.lifecycle_update_date | date: 'dd/MM/yyyy HH:mm:ss': '-0200'}}"></input>
            </div>
          </div>
          <div class="form-group" data-ng-if="startCounter > 0">
            <label class="col-lg-2 control-label">{{'infosPlowdown.form.START_COUNTER' | translate}}</label>

            <div class="col-lg-3">
              <p class="form-control-static">
                <timer interval="1000" countdown="startCounter">{{countdown}}</timer>
              </p>
            </div>
          </div>
        </tab>
        <tab heading="{{'infosPlowdown.form.MULTI_PARTS' | translate}}">
          <div id="gridMultiParts" ui-grid="gridOptions" ui-grid-resize-columns class="grid"></div>
        </tab>
      </tabset>
    </div>

    <div class="form-group">
      <label> {{'infosPlowdown.form.AUTOSCROLL' | translate}}</label>
      <label class="i-switch m-t-sm m-r">
        <input type="checkbox" data-ng-model="autoscroll"></input>
        <i></i>
      </label>
    </div>
    <div class="form-group">
      <label>Informations</label>
      <textarea class="form-control" rows="15" readonly wrap="off"
                placeholder="{{'infosPlowdown.form.PLACE_HOLDER' | translate}}"
                scroll-glue="true">{{download.logs}}</textarea>
    </div>
    <button type="submit" class="btn btn-warning" data-ng-click="delete()">{{'infosPlowdown.form.DELETE' |
      translate}}
    </button>
  </form>
</div>
<footer class="panel-footer text-right bg-light lter">
  <button type="submit" class="btn btn-success" data-ng-click="ok()">Ok</button>
</footer>
