<div class="modal-body wrapper-lg">
  <div class="modal-body wrapper-lg">
    <form role="form" class="form-horizontal">
      <div class="row">
        <uib-tabset class="tab-container">
          <uib-tab heading="{{'infosPlowdown.form.GENERAL' | translate}}">
            <ng-include src="'views/downloads/infos/tabs/general.html'"></ng-include>
          </uib-tab>
          <uib-tab heading="{{'infosPlowdown.form.OTHER' | translate}}">
            <ng-include src="'views/downloads/infos/tabs/other.html'"></ng-include>
          </uib-tab>
          <uib-tab heading="{{'infosPlowdown.form.LIFECYCLE' | translate}}">
            <ng-include src="'views/downloads/infos/tabs/lifecycle.html'"></ng-include>
          </uib-tab>
          <uib-tab ng-show="download.name.split('.')[(download.name.split('.').length - 1)] == 'rar'"
                   heading="{{'infosPlowdown.form.MULTI_PARTS' | translate}}">
            <ng-include src="'views/downloads/infos/tabs/multiParts.html'"></ng-include>
          </uib-tab>
          <uib-tab heading="{{'infosPlowdown.form.ACTIONS_HISTORY' | translate}}">
            <ng-include src="'views/downloads/infos/tabs/actionsHistory.html'"></ng-include>
          </uib-tab>
          <uib-tab heading="{{'infosPlowdown.form.LOGS' | translate}}">
            <ng-include src="'views/downloads/infos/tabs/logs.html'"></ng-include>
          </uib-tab>
        </uib-tabset>
      </div>
    </form>
  </div>
  <footer class="panel-footer text-right bg-light lter">
    <button type="submit" class="btn btn-success" data-ng-click="ok()">Ok</button>
  </footer>

</div>
<footer class="panel-footer text-right bg-light lter">
  <button type="submit" class="btn btn-success" data-ng-click="ok()">Ok</button>
</footer>
