<div class="ui-grid-cell-contents">
  <div class="btn-group" dropdown dropdown-append-to-body>
    <button type="button" class="btn btn-xs btn-primary dropdown-toggle" dropdown-toggle>
      Dropdown <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a data-ng-click="startDownloading(row.entity);"
           data-ng-class="{'disabled': row.entity.status != 1, 'text-success': row.entity.subscribed }"
           class="btn btn-action glyphicon glyphicon-play" href="#"></a>
      </li>
      <!--<li>
        <a data-ng-click="grid.appScope.stopDownloading(row.entity);"
           data-ng-class="{'disabled': row.entity.status == 1}" class="btn btn-action glyphicon glyphicon-stop"
           href></a>
      </li>
      <li>
        <a data-ng-click="grid.appScope.refreshDownload(row.entity);" class="btn btn-action glyphicon glyphicon-refresh"
           data-ng-class="grid.appScope.downloadRefreshInProgress[row.entity.id]" href></a>
      </li>

      <li>
        <a data-ng-click="grid.appScope.deleteDownload(row.entity);" class=" btn btn-action glyphicon glyphicon-trash"
           href></a>
      </li>

      <li>
        <a data-ng-click="grid.appScope.infosPlowdown(row.entity);" class=" btn btn-action glyphicon glyphicon-list-alt"
           href> </a>
      </li>-->

    </ul>

  </div>
</div>
