<!-- first -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span translate="aside.nav.HEADER_DOWNLOADS">Downloads</span>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.downloads.downloads">
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold" translate="aside.nav.DOWNLOADS">Downloads</span>
    </a>
  </li>

  <li ui-sref-active="active">
    <a ui-sref="app.downloads.links">
      <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
      <span class="font-bold" translate="aside.nav.LINKS">Links</span>
    </a>
  </li>
</ul>
<!-- / third -->