<div class="btn-group">
  <a data-ng-click="$event.stopPropagation(); startDownloading(download);"
     data-ng-class="{'disabled': download.status != 1}" class="btn btn-action glyphicon glyphicon-play"
     href></a>
  <a data-ng-click="$event.stopPropagation(); stopDownloading(download);"
     data-ng-class="{'disabled': download.status == 1}" class="btn btn-action glyphicon glyphicon-stop"
     href></a>
  <a data-ng-click="$event.stopPropagation(); refreshDownload(download);"
     class="btn btn-action glyphicon glyphicon-refresh"
     data-ng-class="downloadRefreshInProgress[download.id]" href></a>
  <a data-ng-click="$event.stopPropagation(); deleteDownload(download);"
     class=" btn btn-action glyphicon glyphicon-trash"
     href></a>
  <a data-ng-click="$event.stopPropagation(); infosPlowdown(download);"
     class=" btn btn-action glyphicon glyphicon-list-alt"
     href data-ng-show="download.hasInfosPlowdown == true"></a>
</div>
